a.nav-link {
  color: #fff !important;
}
a.nav-link:hover {
  color: #ccc !important;
}

nav {
  margin-bottom: 15px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.label{
  margin-right: 10px !important;
}

.form-control {
  margin-bottom: 15px !important;
}
